<div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/imagen1.jpg"  alt="imagen1">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/imagen2.jpg"  alt="imagen2">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/imagen3.png"  alt="imagen3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<br>
<div class="container-fluid">
    <div class="centerp">
        <h2 style="text-align: center;">¡Bienvenido al Gimnasio Moderno!</h2>
    </div>
    <div class="centerp">
        <p>
        En nuestro gimnasio, nos dedicamos a satisfacer las necesidades de todos nuestros clientes y nos enfocamos en su bienestar. 
        Sabemos que cada persona es única y tiene objetivos y metas diferentes cuando se trata de su salud y estado físico. 
        Es por eso que hemos creado un ambiente inclusivo y acogedor, donde personas de todas las edades, niveles de condición física y antecedentes pueden encontrar su lugar.
    </p>
    </div>
    <div class="centerp">
        <p>
            Nuestro compromiso es brindar un espacio donde nuestros clientes se sientan cómodos y motivados para alcanzar sus objetivos de bienestar. 
            Contamos con un equipo de profesionales capacitados que estarán a tu disposición para brindarte orientación, asesoramiento y apoyo en cada paso del camino. 
            Ya sea que estés buscando perder peso, ganar fuerza, mejorar tu condición cardiovascular o simplemente mantenerte activo y saludable, aquí encontrarás las herramientas y recursos necesarios para lograrlo.
        </p>
    </div>
    <div class="centerp">
        <p>
            Además, ofrecemos una amplia variedad de actividades y programas para que puedas encontrar la rutina que mejor se adapte a tus gustos y preferencias. 
            Desde clases grupales de alta intensidad hasta entrenamientos personalizados, nuestro objetivo es brindarte opciones que te ayuden a disfrutar del ejercicio y mantenerte motivado.
        </p>
    </div>
    <div class="centerp">
        <p>
            En el Gimnasio Moderno, nos enorgullece crear un ambiente positivo donde todos se sientan bienvenidos y apoyados en su viaje hacia una vida más saludable. 
            Estamos emocionados de ser parte de tu transformación y esperamos acompañarte en cada paso de tu camino hacia el bienestar.
        </p>
    </div>
</div>
